name: validate

on:
  workflow_call:
    inputs:
      config:
        description: Argument(s) to renovate-config-validator
        required: false
        type: string
      runs-on:
        description: Job runs-on
        required: false
        type: string
        default: ubuntu-latest

jobs:
  validate:
    runs-on: ${{ inputs.runs-on }}
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: |
          set -eux -o pipefail
          echo "$script" > renovate-config-validator.sh
          chmod +x renovate-config-validator.sh
        env:
          script: |
            #!/bin/bash
            set -eux -o pipefail
            cd /workspace
            exec renovate-config-validator ${{ inputs.config }}
      - uses: renovatebot/github-action@eaf12548c13069dcc28bb75c4ee4610cdbe400c5 # v44.2.6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker-cmd-file: renovate-config-validator.sh
          docker-volumes: ${{ github.workspace }}:/workspace
