name: validate

on:
  workflow_call:
    inputs:
      config:
        description: Argument(s) to renovate-config-validator
        required: false
        type: string
      runs-on:
        description: Job runs-on
        required: false
        type: string
        default: ubuntu-latest

jobs:
  validate:
    runs-on: ${{ inputs.runs-on }}
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: |
          set -eux -o pipefail
          echo "$script" > renovate-config-validator.sh
          chmod +x renovate-config-validator.sh
        env:
          script: |
            #!/bin/bash
            set -eux -o pipefail
            cd /workspace
            exec renovate-config-validator ${{ inputs.config }}
      - uses: renovatebot/github-action@c5fdc9f98fdf9e9bb16b5760f7e560256eb79326 # v44.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker-cmd-file: renovate-config-validator.sh
          docker-volumes: ${{ github.workspace }}:/workspace
